<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/myAccount.css">
    <link rel="icon" href="/images/whisk.png" type="image">
    <title>Easy Cooking</title>
</head>

<body>
    <nav>
        <a href="/" class="nav-a">Easy Cooking</a>
        <a href="/about" class="nav-a">About Us</a>
        <a href="/allrecipes" class="nav-a">Explore Recipes</a>
        <a href="/home" class="nav-a">Search by Ingredient</a>
        <div class="dropdown">
            <a href="/#"><button class="nav-btn">My Account</button></a>
            <div class="dropdown-content">
                <button class="drop-btn" id="first"><a href="/#">See account</a></button>
                <button class="drop-btn" id="second"><a href="/my-recipes">My Recipes</a></button>
                <button class="drop-btn" id="third"><a href="/add-recipe">Add recipe</a></button>
                <button class="drop-btn" id="fourth"><a href="/logout">Logout</a></button>
            </div>
        </div>
    </nav>
    <div class="principal">
        <div class="user-card">
            <img src="{{user.imgPath}}" class="image">
            <button onclick="document.getElementById('id01').style.display='block'" type="hidden" class="img-btn">Change
                my avatar</button>
            <div id="id01" class="w3-modal">
                <div class="w3-modal-content w3-card-4 w3-animate-zoom">
                    <header class="w3-container orange-header">
                        <span onclick="document.getElementById('id01').style.display='none'"
                            class="x-btn orange-header w3-xlarge w3-display-topright">&times;</span>
                        <h2>Change image</h2>
                    </header>
                    <form action="/my-account/avatar" method="post" enctype="multipart/form-data">
                        <input type="file" name="photo" class="file">
                        <input type="hidden" value={{user._id}} name="id-user">
                        <input type="submit">
                    </form>
                    <div class="w3-container w3-light-grey w3-padding">
                        <button class="save-btn">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <h1 class="username">{{user.username}}</h1>
        </div>
    </div>
    <div class="user-information">
        <p>Name: {{user.name}}</p>
        <p>Email: {{user.email}}</p>
        <div class="level">
            <p>Level: </p>
            <div class="select">
                <select name="level" id="level">
                    <option value="level">Level</option>
                    <option value="starter">Starter</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="expert">Expert</option>
                    <option value="master-chef">Master Chef</option>
                </select>
            </div>
        </div>
        <a href="/my-recipes"><button class="btn">See my recipes</button></a>
    </div>
    <footer>
        <h1>Easy Cooking</h1>
        <div>
            <h2>Contact</h2>
            <div class="contact">
                <div class="gabriela">
                    <p>Gabriela</p>
                    <a href="https://www.linkedin.com/in/gabyaguiar/" class="footer-a"><i
                            class="fa fa-linkedin socialMedia"></i></a>
                    <a href="https://github.com/Gabriela-Aguiar/easycooking" class="footer-a"><i
                            class="fa fa-github socialMedia"></i></a>
                </div>
                <div class="pedro">
                    <p>Pedro</p>
                    <a href="https://www.linkedin.com/in/pedrovsiqueira/" class="footer-a"><i
                            class="fa fa-linkedin socialMedia"></i></a>
                    <a href="https://github.com/pedrovsiqueira/easycooking" class="footer-a"><i
                            class="fa fa-github socialMedia"></i></a>
                </div>
            </div>
        </div>
        <div class="links">
            <h2>Links</h2>
            <p><a href="/" class="footer-a">Easy Cooking</a></p>
            <p><a href="/about" class="footer-a">About Us</a></p>
            <p><a href="/allrecipes" class="footer-a">Explore recipes</a></p>
            <p><a href="/login" class="footer-a">Sign up</a></p>
        </div>
    </footer>
    <div class="copy">
        <p> &copy 2020 Copyright: Gabriela Aguiar e Pedro Siqueira</p>
    </div>
</body>

</html>