<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="/images/whisk.png" type="image">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/myRecipes.css">
    <title>Easy Cooking</title>
</head>

<body>
    <nav>
        <a href="/" class="nav-a">Easy Cooking</a>
        <a href="/about" class="nav-a">About Us</a>
        <a href="/allrecipes" class="nav-a">Explore Recipes</a>
        <a href="/home" class="nav-a">Search by Ingredient</a>
        <div class="dropdown">
            <button class="nav-btn">My Account</button>
            <div class="dropdown-content">
                <button class="drop-btn" id="first"><a href="/my-account/{{user._id}}">See account</a></button>
                <button class="drop-btn" id="second"><a href="/my-recipes">My Recipes</a></button>
                <button class="drop-btn" id="third"><a href="/add-recipe">Add recipe</a></button>
                <button class="drop-btn" id="fourth"><a href="/logout">Logout</a></button>
            </div>
        </div>
    </nav>
    <div class="div-photo">
        <div class="transparency1">
            <h1 class="title">Easy Cooking</h1>
        </div>
    </div>
    <h1 class="myRecipes-title">My copied recipes</h1>
    <div class="carousel-wrapper">
        <div class="carousel" data-flickity data-flickity-options='{ "wrapAround": true }'>
            {{#each myRecipes}}
            <div class="carousel-cell" data-flickity-options='{ "wrapAround": true }'>
                <h3>{{title}}</h3>
                <img src="{{image}}" />
                <div class="button">
                    <a href="/edit-recipes/?id={{id}}"><button class="edit-recipe-btn">Edit</button></a>
                    <a href="/remove-recipe/{{id}}"><button class="edit-recipe-btn">Delete</button></a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <h1 class="myRecipes-title">My created recipes</h1>
    <div class="carousel-wrapper">
        <div class="carousel" data-flickity data-flickity-options='{ "wrapAround": true }'>
            {{#each myCreatedRecipes}}
            <div class="carousel-cell" data-flickity-options='{ "wrapAround": true }'>
                <h3>{{title}}</h3>
                <img src="{{imgPath}}" />
                <div class="button">
                    <a href="/edit-recipes/?id={{id}}"><button class="edit-recipe-btn">Edit</button></a>
                    <a href="/remove-recipe/{{id}}"><button class="edit-recipe-btn">Delete</button></a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <footer>
        <h1>Easy Cooking</h1>
        <div>
            <h2>Contact</h2>
            <div class="contact">
                <div class="gabriela">
                    <p>Gabriela</p>
                    <a href="https://www.linkedin.com/in/gabyaguiar/" class="footer-a"><i class="fa fa-linkedin socialMedia"></i></a>
                    <a href="https://github.com/Gabriela-Aguiar/easycooking" class="footer-a"><i
                            class="fa fa-github socialMedia"></i></a>
                </div>
                <div class="pedro">
                    <p>Pedro</p>
                    <a href="https://www.linkedin.com/in/pedrovsiqueira/" class="footer-a"><i class="fa fa-linkedin socialMedia"></i></a>
                    <a href="https://github.com/pedrovsiqueira/easycooking" class="footer-a"><i class="fa fa-github socialMedia"></i></a>
                </div>
            </div>
        </div>
        <div class="links">
            <h2>Links</h2>
            <p><a href="/" class="footer-a" >Easy Cooking</a></p>
            <p><a href="/about" class="footer-a">About Us</a></p>
            <p><a href="/allrecipes" class="footer-a">Explore recipes</a></p>
            <p><a href="/login" class="footer-a">Sign up</a></p>
        </div>
    </footer>
    <div class="copy">
        <p> &copy 2020 Copyright: Gabriela Aguiar e Pedro Siqueira</p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
</body>

</html>