<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    {{#with recipeObjectFromAPI}}
    <div>
        <h1>{{title}}</h1><br>
        {{id}}<br>
        <img src="{{image}}" style="width: 200px; height: 150px;" /><br>

        Ready in: {{readyInMinutes}}<br>
        Servings: {{servings}}<br>
        Likes: {{this.aggregateLikes}}<br>
        summary: {{{this.summary}}}<br>

        Ingredient name {{name}}<br>
        Ingredient amount {{this.amount}}<br>
        Ingredient unit {{unit}}<br>

        {{/with}}
    </div>


</body>

</html>